.advertisement {
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:black;
	position:absolute;
	top: 8px;
	left: 16px;
	font-weight:bold;
}

.header {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;
}

.logo img {
	float:left;
	width:250px;
}

.title {
	padding:10px;
}

.content {
	clear:both;
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;
	text-align:justify;
}

.image img{
	float:left;
	width:250px;
	margin-right:10px;
}

.head {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}


