.content {
	height:800px;
}

.banner{
    background: url("motorcycle.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:800px;
    margin:auto;
}

.infoh1 {
	color:white;
	text-align:center;
}